<div class="dialog-form">
    <!-- Formule -->
  <div class="form-group">
    <label>{{localize "DND.DIALOG.HEAL.FORMULA"}}</label>
    <input type="text" id="formula" name="formula" value="2d4">
  </div>
  <!-- Type de soin -->
  <div class="form-group">
    <label>{{localize "DND.DIALOG.HEAL.TYPE"}}</label>
    <select id="healType" name="healType">
      {{#each healingTypes}}
        <option value="{{@key}}">{{this.label}}</option>
      {{/each}}
    </select>
  </div>
</div>